SITE_ID=
SITE_URL=
SITE_SECRET=
BA_SECRET=
BA_URL=
RPC_URL=
LEGACY_RPC_URL=

CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_LEGACY=mysql://root:root@127.0.0.1:3306/rbs_db0
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_CORE=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_ID=
CLOUDFLARE_D1_TOKEN=

RESEND_API_KEY=

SENTRY_DSN=