
SITE_ID=
SITE_URL=
SITE_SECRET=
BA_SECRET=
BA_URL=
RPC_URL=
LEGACY_RPC_URL=
BYPASS_OTP=

CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_LEGACY=mysql://root:root@127.0.0.1:3306/legacydb
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_CORE=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_ID=
CLOUDFLARE_D1_TOKEN=

RESEND_KEY=

EMAIL_FROM=
EMAIL_USER=
EMAIL_PASS=
EMAIL_HOST=
EMAIL_PORT=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SENTRY_DSN=